:root {
  --white-text: rgba(255, 255, 255, 1);

  --blue-text: rgba(33, 150, 243, 1);

  --black-text: rgba(33, 33, 33, 1);

  --grey-text: rgba(117, 117, 117, 1);

  --grey-opa: rgba(117, 117, 117, 0.5);

  --grey-text-op60: rgba(255, 255, 255, 0.6);

  --back-grey: rgba(47, 48, 58, 1);

  --back-white-gray: rgba(245, 244, 250, 1);

  --back-potfolio-img: rgba(238, 238, 238, 1);

  --clients: rgba(175, 177, 184, 1);

  --icon-foot-back: rgba(255, 255, 255, 0.1);

  --overlay: rgba(0, 0, 0, 0.2);

  --label: rgba(47, 48, 58, 0.8);

  --linear-gradient: rgba(47, 48, 58, 0.4);

  --hover-overlay: rgba(33, 150, 243, 0.9);

  --time: 250ms;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

  --border-modal: rgba(33, 33, 33, 0.2);

  --checkbox__button: rgba(24, 140, 232, 1);

  --border: rgba(236, 236, 236, 1);

  --border-project__link: rgba(238, 238, 238, 0.8);

  --header-background: rgba(255, 255, 255, 0.1);

  --background-border: rgba(255, 255, 255, 0.3);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.body.modal-open {
  overflow: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header,
.logo,
.header-contacts,
.navigation,
.header__container .navigation,
.navigation-list,
.feature-project__link,
.directions__list,
.directions li,
.team__list,
.footer .footer__logo,
.filters__list {
  display: flex;
}

/* header */

.header {
  background-color: var(--white-text);
  border-bottom: solid 1px #ececec;
  align-items: baseline;
}

.header__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
  display: flex;
}

.navigation {
  align-items: baseline;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--blue-text);
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: auto;
}

.logo__text {
  color: var(--black-text);
}

.web-white {
  color: var(--white-text);
}

.navigation-list {
  position: relative;
  margin: 0;
  padding: 0;
  align-items: baseline;
  margin-right: 250px;
}

.navigation__link {
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 28px;
  transition: color var(--time) var(--cubic);
}

.navigation__item {
  align-items: baseline;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--blue-text);
  background: var(--white-text);
}

.navigation-list .current {
  position: relative;
  color: var(--blue-text);
  transition: fill var(--time) var(--cubic);
}

.navigation-list .current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-text);
  border-radius: 2px;
  transition: fill var(--time) var(--cubic);
}

/* adress */

.header-contacts {
  display: flex;
  margin: 0;
  padding: 0;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.header__link {
  margin: 0;
  padding: 0;
  font-style: normal;
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.header__link:hover,
.header__link:focus {
  color: var(--blue-text);
}

.header__item {
  margin-left: auto;
  margin-right: 50px;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__icon:hover,
.header__icon:focus {
  fill: var(--blue-text);
}

/* hero-index */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img-back.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: var(--back-grey);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

.hero__name {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
  width: 696px;
}

.hero__button {
  display: flex;
  border: none;
  background-color: var(--blue-text);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-text);
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  bottom: 93%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-text);

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal__close:focus,
.modal__close:hover {
  fill: var(--blue-text);
}

.modal-form__text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

/* form-info__input */

.form-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-info label {
  margin-bottom: 4px;
  color: var(--grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-info__conteiner {
  content: '';
  position: relative;
}

.form-info__input {
  border: 1px solid var(--border-modal);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 35px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  transition-property: border;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
  outline: none;
}

.form-info__input:focus + .form-info__icon,
.form-info__input:hover + .form-info__icon {
  fill: var(--blue-text);
}

.form-info__input:focus,
.form-info__input:hover {
  border: 1px solid var(--blue-text);
}

.form-info__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.form-info__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid var(--border-modal);
  color: var(--grey-opa);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  cursor: pointer;
  outline: none;
}

.form-info:focus > form-info__textarea,
.form-info:hover > form-info__textarea {
  border: 1px solid var(--blue-text);
}

.container-checkbox {
  margin-bottom: 30px;
  color: var(--grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.checkbox__text {
  display: flex;
  text-decoration-line: underline;
  color: var(--blue-text);
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox__input:checked ~ .checkbox__icon {
  background-color: var(--blue-text);

  background-size: contain;
  border-color: var(--blue-text);
  border-radius: 2px;
  fill: var(--blue-text);
}

.checkbox__icon {
  display: inline-block;
  margin-right: 9px;
  border: 2px solid var(--black-text);
  border-radius: 2px;
  fill: var(--white-text);
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: background-color var(--time) var(--cubic);
}

.checkbox__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  margin: 30px 125px 29px 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.checkbox__button:focus,
.checkbox__button:hover {
  background-color: var(--checkbox__button);
}

/* advantarges */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

.feature-project__link {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 700;
  text-align: left;
}

.feature__text {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.feature__info {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

.feature__item {
  width: 270px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--back-white-gray);
  background-repeat: no-repeat;
  background-size: none;
  background-position: center;
}

.feature__item.antenna::before {
  background-image: url(../img/icon/antenna.svg);
}

.feature__item.clock::before {
  background-image: url(../img/icon/clock.svg);
}

.feature__item.diagram::before {
  background-image: url(../img/icon/diagram.svg);
}

.feature__item.astronaut::before {
  background-image: url(../img/icon/astronaut.svg);
}

/* directions */

.directions {
  padding-top: 0px;
  padding-bottom: 94px;
}

.directions__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

.directions__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.directions__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.directions__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
}

.directions__overlay {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: var(--label);
}

.directions__item:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team {
  background-color: var(--back-white-gray);
  padding-top: 96px;
  padding-bottom: 94px;
}

.team__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.team__cart {
  width: 270px;
  background-color: var(--white-text);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__cart:not(:last-child) {
  margin-right: 30px;
}

.team__cart--content {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__cart--title {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  margin-bottom: 10px;
}

.team__cart--profession {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

.social-network {
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: space-between;
  transition-property: fill, background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.social-network__list {
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.social-network__list:last-child {
  margin-right: 0;
}

.social-network__item {
  margin-right: 0;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
  background-color: ;
}

.social-network__icon {
  fill: var(--clients);
  padding-right: 0;
}

.social-network__list:hover .social-network__icon,
.social-network__list:focus .social-network__icon {
  fill: var(--white-text);
}

.social-network__list:hover,
.social-network__list:focus {
  background-color: var(--checkbox__button);
}

/* client */

.clients__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.clients__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-left: 0;
  margin-top: 0;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 0px;
  fill: currentColor;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  fill: currentColor;
  transition: border var(--time) var(--cubic), fill var(--time) var(--cubic);
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: var(--clients);
  border-radius: 4px;
  margin-left: 0;
  margin-right: 30px;
  cursor: pointer;
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--blue-text);
  border: 1px solid var(--blue-text);
  border-radius: 4px;
}

.clients__link:active {
  fill: transparent;
}

.clients__svg {
  padding: 0;
}

/* footer */

.footer {
  background-color: var(--back-grey);
  color: var(--white-text);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--white-text);
  margin-bottom: 20px;
}

.footer__logo--studio {
  color: var(--blue-text);
}

.address__link {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-text);
  text-align: left;
  margin-bottom: 9px;
}

.adress__list {
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey-text-op60);
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__join {
  margin-left: 70px;
}

.connect-text {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-list > .footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list > .footer__item:hover,
.footer-list > .footer__item:focus {
  background-color: var(--blue-text);
}

.footer-list--image {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-text);
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.footer__item {
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--icon-foot-back);
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.footer__form {
  display: flex;
  margin-left: 93px;
}

.footer__form--text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  margin-right: 10px;
}

.footer__info--connect {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-left: 93px;
}

.footer__form--button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition-property: backgraund-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.footer__form--input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  color: var(--white-text);
  background-color: var(--back-grey);
  border: 1px solid var(--background-border);
  border-radius: 4px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  transition-property: backgraund-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.footer__form--input:focus-within,
.footer__form--input:hover,
.footer__form--input:active {
  border: 1px solid var(--blue-text);
  border-radius: 4px;
}

.footer__form--button:focus,
.footer__form--button:hover {
  border: 1px solid var(--blue-text);
  border-radius: 4px;
}

.footer__form--icon {
  fill: var(--white-text);
}

/* hero-portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

.filters__list {
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.filters__list button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background-color: var(--back-white-gray);
  border-radius: 4px;
  border-color: transparent;
  padding-left: 22px;
  padding-right: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.filters_item:not(:last-child) {
  margin-right: 6px;
}

.filters_button:hover,
.filters_button:focus {
  color: var(--white-text);
  background: var(--blue-text);
  outline: none;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.project__item {
  position: relative;
  margin: 0;
  width: 370px;
}

.portfolio__tumb {
  position: relative;
  width: 368px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hover-overlay);
  overflow: hidden;
}

.project__item:nth-child(3n + 2) {
  margin-left: 30px;
  margin-right: 30px;
}

.project__item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .portfolio__box,
.project__link:focus .portfolio__box {
  transform: translateY(0);
  opacity: 1;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.portfolio__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-overlay);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-text);
  padding: 63px 24px;
}

.portfolio__pages {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: solid 1px #eeeeee;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.portfolio__info {
  margin: 0;
  padding: 0;
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--black-text);
  background-color: var(--white-text);
  text-align: left;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 4px;
}

.portfolio__categories {
  margin: 0;
  padding: 0;
  width: 322px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--grey-text);
  background-color: var(--white-text);
  text-align: left;
  margin-right: 0;
  margin-left: auto;
}
